body{
  overflow-y: auto !important;
}
@import url(http://fonts.googleapis.com/css?family=Oxygen+Mono);
/* Starter CSS for Menu */
#cssmenu {
  padding: 0;
  margin: 0;
  border: 0;
  width: auto;
}
#cssmenu ul,
#cssmenu li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#cssmenu ul {
  position: relative;
  z-index: 597;
}
#cssmenu ul li {
  float: left;
  min-height: 1px;
  vertical-align: middle;
}
#cssmenu ul li.hover,
#cssmenu ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}
#cssmenu ul ul {
  white-space: nowrap;
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 598;
}
#cssmenu ul ul li {
  float: none;
}
#cssmenu ul ul ul {
  top: 0;
  left: 100%;
  white-space: nowrap;
}
#cssmenu ul li:hover > ul {
  visibility: visible;
}
#cssmenu ul ul {
  bottom: 0;
  left: 0;
}
#cssmenu ul ul {
  margin-top: 0;
}
#cssmenu ul ul li {
  font-weight: normal;
}
#cssmenu a {
  display: block;
  line-height: 1em;
  text-decoration: none;
}
/* Custom CSS Styles */
#cssmenu {
  background: #333333;
  border-bottom: 4px solid #1b9bff;
  font-family: 'Oxygen Mono', Tahoma, Arial, sans-serif;
  font-size: 12px;
}
#cssmenu > ul {
  *display: inline-block;
}
#cssmenu:after,
#cssmenu ul:after {
  content: '';
  display: block;
  clear: both;
}
#cssmenu ul {
  text-transform: uppercase;
  float: right;
}
#cssmenu ul ul {
  border-top: 2px solid #000E9D;
  text-transform: none;
}
#cssmenu ul ul a {
  background: #1b9bff;
  color: #ffffff;
  border: 1px solid #0082e7;
  border-top: 0 none;
  line-height: 150%;
  padding: 10px 20px !important;
  font-size: 12px;
  text-transform: capitalize;
}
#cssmenu ul ul ul {
  border-top: 0 none;
}
#cssmenu ul ul li {
  position: relative;
}
#cssmenu ul ul li:first-child > a {
  border-top: 1px solid #0082e7;
}
#cssmenu ul ul li:hover > a {
  background: #4eb1ff;
  color: #ffffff;
}
#cssmenu ul ul li:last-child > a {
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -moz-box-shadow: 0 1px 0 #1b9bff;
  -webkit-box-shadow: 0 1px 0 #1b9bff;
  box-shadow: 0 1px 0 #1b9bff;
}
#cssmenu ul ul li:last-child:hover > a {
  -moz-border-radius: 0 0 0 3px;
  -webkit-border-radius: 0 0 0 3px;
  border-radius: 0 0 0 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#cssmenu ul ul li.has-sub > a:after {
  content: '+';
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -8px;
}
#cssmenu ul li:hover > a,
#cssmenu ul li.active > a {
  background: #1b9bff;
  color: #ffffff;
}
#cssmenu ul li.has-sub > a:after {
  content: '+';
  margin-left: 5px;
}
#cssmenu ul li.last ul {
  left: auto;
  right: 0;
}
#cssmenu ul li.last ul ul {
  left: auto;
  right: 99.5%;
}
#cssmenu a {
  background: #333333;
  color: #CBCBCB;
  padding: 0 20px;
}
#cssmenu > ul > li > a {
  line-height: 48px;
  font-size: 12px;
}

.logo{
    display:inline-block;
}

.formstyle{
    padding-top: 15px !important;
}

/* styles by kaustav */

/* navbar section */
.navbar-brand{
	padding: 7px 15px !important;
}
#cssmenu{
	background:none !important;
	border-bottom:none !important;
}
#cssmenu a {
color: #FFFFFF !important;
padding: 25px 20px !important;
background: none;
}
    .logout{

    	background: none !important;
    	padding: 0px !important;
    }
    #cssmenu ul ul li:hover > a {
background: #068176;
color: #ffffff;
}
#cssmenu ul ul li:first-child > a {
border-top: 1px solid #009587;
}
    
  #cssmenu ul ul li a {
background: #009587;
border: 1px solid #D2E5E3;
}
#cssmenu ul ul li a:hover {
background: rgba(5, 113, 103, 1);
border: 1px solid #D2E5E3 !important;
}
/*   .navbar.navbar, .navbar-default.navbar {
background-color: #007C00 !important;
color: rgba(255, 255, 255, 0.84) !important;
}*/
#cssmenu ul li:hover > a, #cssmenu ul li.active > a {
background: rgba(5, 113, 103, 1);
color: #ffffff;

}
.divlogout{
	padding: 23px 13px 10px 10px !important;
margin-left: 20px !important;	
}
#cssmenu .divlogout a{
	padding: 0px !important;
	text-align: center;
}
#cssmenu ul ul {
border-top: 2px solid rgba(0, 124, 0, 0);
text-transform: none;
}

td, th {
padding: 0;
width: 20%;
}
tr{
line-height: 20px;
}
.adduserform input[type="text"], input[type="password"], input[type="email"]{
  margin-bottom: 10px;
  margin-top: 10px;
  vertical-align: center;
  width: 100%;
}
.adduserform select{
  margin-bottom: 10px;
  margin-top: 10px;
  vertical-align: center;
}
#edituserform .radio label{
  margin-bottom: 10px;
}
#activeusers p{
  text-transform: capitalize;
}
#cssmenu ul ul li:last-child > a{
  box-shadow: 0 1px 0 #009587;
}
hr{
  border-top: 1px solid #E7DFDF !important; 
}

.profile_pic{
    right: 55px;
    width: 60px;
    height: 60px;
    background-size: cover;
    display: block;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    position: absolute;
    top: 32px;
      box-shadow: 2px 3px 6px -1.9px black;
}

.arrow_box {
	position: absolute;
	background: white;
        box-shadow:3px 4px 5px -3.5px grey;
         right: 57px;
  top: 102px;
  color: #03a9f4;

}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(0, 0, 0, 0);
	border-bottom-color: rgba(128, 128, 128, 0.48);
	border-width: 10px;
	margin-left: -10px;
}
.arrow_box:before {
	border-color: rgba(217, 217, 217, 0);
	border-bottom-color: #d9d9d9;
	border-width: 11px;
	margin-left: -11px;
}

//Angular JS Collapse Accordian
.expandcollapse-item {
  overflow: hidden;
  border-top:1px solid blue;
}

.expandcollapse-heading-collapsed {
  cursor: pointer;
  padding: 15px 20px;
  position: relative;
  z-index: 100000000;
  color: black; 
  background-color: white;
  
}

.expandcollapse-item:first-of-type {
  border-top:0px;
}


.expandcollapse-heading-collapsed p{
  font-size: 16px;
  font-weight: normal;
  margin:0px;
}



.expandcollapse-heading-expanded {
  cursor: pointer;
  z-index: 100000000;
  padding: 15px 20px;
  position: relative;
  color: white; 
  background-color: black;
  border: 1px solid blue;
}

.expandcollapse-heading-expanded p{
  font-size: 16px;
  font-weight: bold;
  margin:0px;
}

.expandcollapse-heading-collapsed > span,
.expandcollapse-heading-expanded > span {
  position:absolute;
  top: 25px;
  right: 15px;
  font-size: 20px;
  line-height: 0px;
}

.expand-collapse-content {
  padding: 20px;
}


/*
animation:*/

.slideDown.ng-hide {
  height:0;
  transition:height 0.35s ease;
  overflow:hidden;
  position:relative;
}

.slideDown {
  height: auto !important;
  box-shadow: inset 0px 0px 8px -2.5px !important;
  height: 141px;
  transition: height 0.35s ease;
  overflow: hidden;
  position: relative;
  background: rgb(220, 220, 220) !important;
}

.slideDown > ul {
    list-style: none;
      margin-bottom: 0px !important;
}

.slideDown > ul > li{
    height: 30px;
}

.slideDown.ng-hide-remove,
.slideDown.ng-hide-add {
  /* remember, the .hg-hide class is added to element
  when the active class is added causing it to appear
  as hidden. Therefore set the styling to display=block
  so that the hide animation is visible */
  display:block!important;
}


.slideDown.ng-hide-add {
  animation-name: hide;
  -webkit-animation-name: hide;  

  animation-duration: .5s; 
  -webkit-animation-duration: .5s;

  animation-timing-function: ease-in;  
  -webkit-animation-timing-function: ease-in;  
}



.slideDown.ng-hide-remove {
  animation-name: show;
  -webkit-animation-name: show;  

  animation-duration: .5s; 
  -webkit-animation-duration: .5s;

  animation-timing-function: ease-out;  
  -webkit-animation-timing-function: ease-out;  
}

//end of Angular JS Collapse Accordian

/*LATEST STYLES*/

.strip{
  position: absolute;
  margin-top: -85px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  padding: 10px;
  font-size: 16px;
  text-align: right;
  font-family: Roboto;
}
.full_image_info_page h3{
  margin-bottom: 20px;
}
.img_info_full {
  width:100%;
}
.img_info_full td {
 padding-bottom: 10px;
}
.italic{
  font-style: italic;
}
.active_state{
    float: left;
  margin-right: 10px;
  margin-left: -10px;
}
.inactive_state{
  float: left;
  margin-top: 0px !important;
}
.modal-body{
  overflow: auto;
}
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: 0.6;
  background-color: #000;
}
.categories .btn .caret {
  margin-left: 15px;
}
.subcategories .btn .caret {
  margin-left: 15px;
}

.full_image_info_page .list-group{
    float: left;
    text-align: left;
    font-size: 12px;
    margin-bottom: 0px;
}
.full_image_info_page .list-group .list-group-item .list-group-item-heading{
    color: rgba(255, 255, 255, 1);
}
.strip .col-sm-9{
  padding: 0px;
}
.strip .col-sm-3{
  padding: 0px;
}
.like_text{
  font-size: 12px;
}